simplified-number-ffi-prototype.aux
simplified-number-ffi-prototype.log
simplified-number-ffi-prototype.out
simplified-number-ffi-prototype.pdf
simplified-number-ffi-prototype.synctex.gz
simplified-number-ffi-prototype.toc
*.swp
